<div class="ap_head">
    <div class="ap_cover">
        <?php if( $ask->isowner === true OR IsAdmin() === true ) :?>
        <div class="edit_cover">
            <span class="btn-file">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z"></path></svg>
                <input type="file" name="cover" id="cover_img" accept="image/x-png, image/jpeg">
            </span>
        </div>
        <?php endif;?>
        <div class="profileBox_gradient"></div>
        <img src="{{USER cover}}" alt="{{USER name}} avatar" id="cover_preview">
    </div>
    <div class="ap_user_info">
        <div class="ap_user_ava">
            <div class="avatar_container">
                <?php if( $ask->isowner === true OR IsAdmin() === true ) :?>
                <div class="edit_cover">
                    <span class="btn-file">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z"></path></svg>
                        <input type="file" name="avatar" id="avatar_img" accept="image/x-png, image/jpeg">
                    </span>
                </div>
                <?php endif;?>
                <a class="fancybox" href="<?php echo str_replace('_avatar','_image',$data['USER_DATA']->avatar);?>">
                    <img src="{{USER avatar}}" id="avatar_preview" alt="{{USER name}} avatar">
                </a>
            </div>
            <div class="info_container">
                <h4><a href="{{LINK @{{USER username}}}}" data-load="?link1=timeline&id={{USER username}}">
                    <?php if( $data['USER_DATA']->first_name == '' && $data['USER_DATA']->last_name == '' ){?>
                        {{USER username}}
                    <?php }else{ ?>
                        {{USER first_name}} {{USER last_name}}
                    <?php }?>

                        <?php if($ask->user->verified == 1) {   ?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="verified-color feather feather-check-circle" title="Verified Page" data-toggle="tooltip"><path d="M23,12L20.56,9.22L20.9,5.54L17.29,4.72L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53L3.44,9.21L1,12L3.44,14.78L3.1,18.47L6.71,19.29L8.6,22.47L12,21L15.4,22.46L17.29,19.28L20.9,18.46L20.56,14.78L23,12M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9L10,17Z"></path></svg>
                        <?php } ?>



                </a></h4>
                




		<!-- Stats  -->
				<div class="stats_me">
					<a <?php if($ask->page == 'content'){ echo 'class="active"';}?> href="{{LINK @}}{{USER username}}" data-load="?link1=timeline&id={{USER username}}">
						<b>{{LANG Questions}}</b><p>{{QUESTIONS}}</p>
					</a>
					<a <?php if($ask->page == 'followers'){ echo 'class="active"';}?> href="{{LINK @}}{{USER username}}/followers" data-load="?link1=timeline&id={{USER username}}&page=followers">
						<b>{{LANG Followers}}</b><p>{{FOLLOWERS}}</p>
					</a>
					<a <?php if($ask->page == 'following'){ echo 'class="active"';}?> href="{{LINK @}}{{USER username}}/following" data-load="?link1=timeline&id={{USER username}}&page=following">
						<b>{{LANG Following}}</b><p>{{FOLLOWING}}</p>
					</a>
				</div>
				<!-- End Stats  -->
            </div>
        </div>
        <div class="ap_options">
        <?php if( $ask->isowner === true OR IsAdmin() === true ) :?>
            <div><a class="btn" href="{{LINK settings/general/}}{{USER username}}" data-load="?link1=settings&page=general&user={{USER username}}">{{LANG edit_profile}}</a></div>
        <?php endif;?>
		<?php if( $ask->isowner === false OR IsAdmin() === false ){?>
			<div>{{MESSAGE_BUTTON}}</div>
		<?php } ?>
            <div>{{FOLLOW_BUTTON}}</div>
        </div>
    </div>
</div>
<div class="progress hidden" id="img_upload_progress">
    <div id="img_upload_progress_bar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>
<script>
    $(function() {
    "use strict";
        $("#cover_img").change(function(e) {
            e.preventDefault();
            if(this.files[0].size>528385){
                msgbox("{{LANG Image upload error}}.", "{{LANG img_size_not_greater}} {{CONFIG max_image_upload_size}}Kb");
                return false;
            }
            if(this.files[0].type.indexOf("image")==-1){
                msgbox("{{LANG Image upload error}}.", "{{LANG invalid_type_image}}");
                return false;
            }
            if (this.files && this.files[0]) {

                let bar = $('#img_upload_progress');
                let percent = $('#img_upload_progress_bar');

                let formData = new FormData();
                formData.append("user_id", '{{USER id}}');
                formData.append("mode", 'cover');
                formData.append("hash_id", '<?php echo CreateSession()?>');
                formData.append("cover", $("#cover_img")[0].files[0], $("#cover_img")[0].files[0].value);

                bar.removeClass('hidden');
                $.ajax({
                    xhr: function() {
                        let xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                let percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);
                                //status.html( percentComplete + "%");
                                percent.width(percentComplete + '%');
                                percent.html(percentComplete + '%');
                                if (percentComplete === 100) {
                                    bar.addClass('hidden');
                                    percent.width('0%');
                                    percent.html('0%');
                                }
                            }
                        }, false);
                        return xhr;
                    },
                    url: '{{LINK aj/user/avatar}}?hash=' + $('.main_session').val(),
                    type: "POST",
                    async: true,
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 60000,
                    dataType: false,
                    data: formData,
                    success: function(result) {
                        if( result.status == 200 ){
                            if(result.cover_url !== ''){
                                $('#cover_preview').attr('src', result.cover_url );
                            }
                        }
                    }
                });

            }
        });
    });
    $(function() {
    "use strict";
        $("#avatar_img").change(function(e) {
            e.preventDefault();
            if(this.files[0].size>528385){
                msgbox("{{LANG Image upload error}}.", "{{LANG img_size_not_greater}} {{CONFIG max_image_upload_size}}Kb");
                return false;
            }
            if(this.files[0].type.indexOf("image")==-1){
                msgbox("{{LANG Image upload error}}.", "{{LANG invalid_type_image}}");
                return false;
            }
            if (this.files && this.files[0]) {

                let bar = $('#img_upload_progress');
                let percent = $('#img_upload_progress_bar');

                let formData = new FormData();
                    formData.append("user_id", '{{USER id}}');
                    formData.append("mode", 'profile');
                    formData.append("hash_id", '<?php echo CreateSession()?>');
                    formData.append("avatar", $("#avatar_img")[0].files[0], $("#avatar_img")[0].files[0].value);

                    bar.removeClass('hidden');
                    $.ajax({
                        xhr: function() {
                            let xhr = new window.XMLHttpRequest();
                            xhr.upload.addEventListener("progress", function(evt){
                                if (evt.lengthComputable) {
                                    let percentComplete = evt.loaded / evt.total;
                                    percentComplete = parseInt(percentComplete * 100);
                                    //status.html( percentComplete + "%");
                                    percent.width(percentComplete + '%');
                                    percent.html(percentComplete + '%');
                                    if (percentComplete === 100) {
                                        bar.addClass('hidden');
                                        percent.width('0%');
                                        percent.html('0%');
                                    }
                                }
                            }, false);
                            return xhr;
                        },
                        url: '{{LINK aj/user/avatar}}?hash=' + $('.main_session').val(),
                        type: "POST",
                        async: true,
                        enctype: 'multipart/form-data',
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 60000,
                        dataType: false,
                        data: formData,
                        success: function(result) {
                            if( result.status == 200 ){
                                if(result.avatar_url !== ''){
                                    var is_admin = '<?php echo (bool)IsAdmin();?>';
                                    var is_owner = '<?php echo (bool)$ask->isowner;?>';
                                    if( is_admin === '1' && is_owner === '1' ) {
                                        $('.small_avatar_container').attr('src', result.avatar_url);
                                    }
                                    if( is_admin === '' && is_owner === '1' ) {
                                        $('.small_avatar_container').attr('src', result.avatar_url);
                                    }
                                    $('#avatar_preview').attr('src', result.avatar_url );
                                    $('#avatar_preview').parent().attr('href', result.avatar_url );
                                }
                            }
                        }
                    });

            }
        });
    });
</script>